<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
    <title>影片详情</title>
</head>
<body>
<a th:href="@{/}">返回</a>
<h1>速度与激情</h1>
<p style="width:500px">简介：
    洛杉矶的年轻人都热衷于街头赛车，在这里，只要你拥有速度，你就拥有一切。新晋警官布莱恩（保罗·沃克 Paul Walker 饰）为了破获最近屡屡发生的飞车党劫车案而充当卧底，
    打入这里活跃的飞车党帮派中，搜集证据以期将罪犯绳之以法。布莱恩凭借高超的车技很快赢得了飞车党老大多米尼克（范·迪塞尔 Vin Diesel 饰）的欣赏和信任，
    并且很快和多米尼克的妹妹米娅（乔丹娜·布鲁斯特 Jordana Brewster 饰）堕入爱河。然而飞车党的第二把手文斯却对布莱恩充满敌意。原来文斯一直暗恋米娅，而且布莱恩的到来威胁着他二把手的地位。
    这时，飞车党的党员们开始怀疑他们内部藏有奸细，布莱恩的日子开始不好过。而且和多米尼克接触越久，他们之间的友谊就越加深厚，布莱恩开始进退两难。</p>
</body>
</html>