<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>影视直播厅</title>
</head>
<body>
<h1 align="center">欢迎进入电影网站首页</h1>
<hr>
    <h3>普通电影</h3>
    <ul>
      <li><a th:href="@{/detail/common/1.html}">飞驰人生</a></li>
      <li><a th:href="@{/detail/common/2.html}">夏洛特烦恼</a></li>
    </ul>
    <h3>VIP 专享</h3>
    <ul>
        <li><a th:href="@{/detail/vip/1.html}">速度与激情</a></li>
        <li><a th:href="@{/detail/vip/2.html}">猩球崛起</a></li>
    </ul>
</body>
</html>